.App {
  width: fit-content;
  margin: 0 auto;
}

.card {
  margin: 40px;
  box-shadow: 7px 13px 49px -5px rgba(86, 63, 130, 0.78);
  border-radius: 30px;
  padding: 10px 40px;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.left {
  margin-right: 20px;
}

.form {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-label {
  margin: 0 10px;
  font-size: 24px;
}

img {
  transform: scale(-1, 1);
}

input {
  border-radius: 10px;
  border: 2px solid #8c78cc;
  font-weight: 600;
  color: #3d2f71;
  padding-left: 15px;
  font-size: 18px;
  padding: 3px 3px 3px 10px;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

.price__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price__descr {
  width: 300px;
  text-align: left;
}

.price-collapse .price__item {
  margin-bottom: 5px;
}

.collapse {
  margin-bottom: 20px;
  margin-left: 32px;
  cursor: pointer;
}

.price__add {
  font-weight: 600;
  color: #292929;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  width: 450px;
}

.price {
  font-size: 17px;
  font-weight: 700;
  width: 70px;
}

.day-price {
  color: #3d2f71;
}

.icon {
  transition: all .4s linear;
  font-size: 20px;
  width: 22px;
}

.icon-add {
  color: #96d2ff;
}

.icon-add:hover {
  color: #319cec;
}

.icon-delete {
  color: #92da8a;
}

.icon-delete:hover {
  color: #f37490;
}

.icon-delete:hover path {
  d: path('M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z') !important;
}

.collapse__button {
  display: flex;
}

.collapse__switch {
  width: 60px;
}

.switch__icon {
  color: #808080;
}

.show {
  margin-top: 10px;
  font-size: 16px;
  max-width: 420px;
}

.price__summe {
  display: flex;
  align-items: center;
}

.summe-span {
  transition: all .4s linear;
}

h3 {
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.price__summe {
  display: flex;
  justify-content: flex-end;
}

.summe-span {
  font-weight: 700;
  font-size: 32px;
}

@media screen and (max-width: 1100px) {
  .wrap {
    display: block;
  }
}

.fa-github {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 38px;
  transition: all .1s linear;
}

.fa-github:hover {
  font-size: 42px;
  color: #dca118;
  cursor: pointer;
}
