.App {
  margin: 0 auto;
  width: fit-content;
}

@media screen and (max-width: 664px) {
  .App {
    width: 100%;
  }
}

.card {
  border-radius: 30px;
  box-shadow: 7px 13px 49px -5px rgba(86, 63, 130, 0.78);
  margin: 40px;
  padding: 10px 40px;
}

@media screen and (max-width: 664px) {
  .card {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    margin: 20px;
  }
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

@media screen and (max-width: 1100px) {
  .wrap {
    display: block;
  }
}

@media screen and (max-width: 664px) {
  .wrap {
    margin: 10px;
  }
}

.left {
  margin-right: 20px;
}

@media screen and (max-width: 664px) {
  .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.form {
  align-items: baseline;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-label {
  font-size: 24px;
  margin: 0 10px;
}

@media screen and (max-width: 450px) {
  .form-label {
    font-size: 18px;
  }
}

img {
  transform: scale(-1, 1);
}

@media screen and (max-width: 664px) {
  img {
    height: auto;
    width: 100%;
  }
}

input {
  border: 2px solid #8c78cc;
  border-radius: 10px;
  color: #3d2f71;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 3px 3px 10px;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}

.price__items {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.price__descr {
  text-align: left;
  width: 300px;
}

@media screen and (max-width: 664px) {
  .price__descr {
    margin: 0 10px;
    width: 100%;
  }
}

.price-collapse .price__item {
  margin-bottom: 5px;
}

.collapse {
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 32px;
}

.price__add {
  color: #292929;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 450px;
}

@media screen and (max-width: 664px) {
  .price__add {
    width: 100%;
  }
}

.price {
  font-size: 17px;
  font-weight: 700;
  width: 70px;
}

@media screen and (max-width: 664px) {
  .price {
    width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .price {
    width: 130px;
  }
}

.day-price {
  color: #3d2f71;
}

.icon {
  font-size: 20px;
  transition: all 0.4s linear;
  width: 22px;
}

.icon-add {
  color: #96d2ff;
}

.icon-add:hover {
  color: #319cec;
}

.icon-delete {
  color: #92da8a;
}

.icon-delete:hover {
  color: #f37490;
}

.icon-delete:hover:before {
  content: '\f057';
}

.collapse__button {
  display: flex;
}

.collapse__switch {
  width: 60px;
}

.switch__icon {
  color: #808080;
}

.show {
  font-size: 16px;
  margin-top: 10px;
  max-width: 420px;
}

.summe-span {
  transition: all 0.4s linear;
}

h3 {
  font-weight: 600;
  margin-right: 20px;
  text-transform: uppercase;
}

.price__summe {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.summe-span {
  font-size: 32px;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .summe-span {
    font-size: 30px;
  }
}

.fa-github {
  font-size: 38px;
  position: absolute;
  right: 2%;
  top: 3%;
  transition: all 0.1s linear;
}

.fa-github:hover {
  color: #dca118;
  cursor: pointer;
  font-size: 42px;
}
