body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  color: #3d2f71;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
